#movies-container {
    z-index: 90;
    padding: 1rem;
    background-color: transparent;
    width: 83%;
    max-height: 84.7vh;
    height: 100vh;
    overflow-y: scroll;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    overflow-x: hidden;
    right: 0px;
}