.movie {
    border-radius: 10px;
    padding: 10px;
    max-height: 19.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#1a0125 ;
    text-decoration: none;
    color: #ffffff;
    transition: all .3s ease-in;
    animation-duration: .6s;
    animation-fill-mode: both;
    animation-name: move;
   }
   @keyframes move{
    from { transform: translateY(3rem); opacity: 0; }
    to { transform: translateY(0rem); opacity: 100; }
   }
   .movie:hover{
    background:#1f003c;
   }
.posters {
    height: 15rem;
    border-radius: 5px;
    width: 11.5rem;
    margin-top: 10px;
}
.title {
    background-color: transparent;
    display: flex;
    font-size: 18px;
    font-weight: bolder;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    height: 2.6rem;
    overflow: hidden;
}
.year{
    background-color: transparent;
    padding: 5px;
    font-size: 12px;
    height: 10px;
    overflow: hidden;
}